<div class="user" style="display: flex; justify-content: space-between; align-items: center;">
  <div class="tech" style="flex: 1; text-align: center;">
    <h2>LinkedIn</h2>
    <a href="https://fr.linkedin.com/in/pierre-challes-83b969255" target="_blank">
      <img src="{{ '/assets/img/linkedIn.png' | prepend: site.baseurl }}" alt="Linkedin" style="width: 64px; height: 64px; display: block; margin: auto;">
    </a>
    <p style="margin-top: 10px;">Accès à mon Linkedin!</p>
  </div>
  <div class="tech" style="flex: 1; text-align: center;">
    <h2>Code</h2>
    <i class="devicon-java-plain colored" style="font-size: 64px;"></i>
    <i class="devicon-javascript-plain colored" style="font-size: 64px;"></i>
    <i class="devicon-nodejs-plain-wordmark" style="font-size: 64px;"></i>
    <p style="margin-top: 10px;">Java, XML, Json, Js</p>
  </div>
  <div class="tech" style="flex: 1; text-align: center;">
    <h2>CV</h2>
    <i class="devicon-git-plain" style="font-size: 64px;"></i>
    <i class="devicon-gulp-plain colored" style="font-size: 64px;"></i>
    <i class="devicon-atom-original-wordmark" style="font-size: 64px;"></i>
    <p style="margin-top: 10px;">Eclipse, Xampp, Github, VirtualBox...</p>
  </div>
</div>
