<div class="user-details">
  <h1> À propos de moi</h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <a href="https://fr.linkedin.com/in/pierre-challes-83b969255" target="_blank">
      <img alt="Linkedin" src="{{ "/assets/img/linkedIn.png" | prepend: site.baseurl }}" style="width: 64px; height: 64px; display: inline-block; vertical-align: middle;" />
    </a>
    <p>Accès à mon Linkedin!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p> Java, XML, Json, Js</p>
  </div>
  <div class="tech">
    <h2>CV</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Eclipse, Xampp, Github, VirtualBox...</p>
  </div>
</div>
