<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Epreuve E4</title>
</head>
<body>
    <div class="user-details" id="e4">
        <h1>Qu'est-ce que l'épreuve E4 ?</h1>
    </div>
    <div class="user-e4">
        <h3>Épreuve E4</h3>
        <p>L’épreuve E4 est une épreuve clé du BTS SIO, elle doit être composée de minimum deux projets ayant un contexte commun en rapport avec l’option choisie (SLAM pour mon cas).
        <br>
        <br>
        L’objectif de cette épreuve est d’évaluer le candidat sur une des deux situations professionnelles qu’il aura réalisées sur les 2 ans de formation.
        <br>
        <br>
        Cette épreuve est aussi accompagnée d'un tableau des compétences, compétences qui devront être décrites et réalisées au cours des projets présentés.</p>
        <img alt="Epreuve_E4" src="{{ "/assets/img/Epreuve_E4" | prepend: site.baseurl }}" />
    </div>
</body>
</html>
