<div id="particles-js">
      <div class="header-links" style="margin:auto;left:0;right:0;display:flex;width:100%;position:absolute;top:20px">
        <a class="link" href="#about" data-scroll>A propos</a>
        <a class="link" href="#projects" data-scroll>Projet</a>
        <a class="link" href="#career" data-scroll>Mon Parcours</a>
        <a class="link" href="#tech-watch" data-scroll>Veille Technologique</a>
        <a class="link" href="#e4" data-scroll>Qu'est ce que l'épreuve E4 ?</a>
      </div>
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
