<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>A propos</a>
        <a class="link" href="#projects" data-scroll>Projet</a>
        <a class="link" href="#Mon Parcours Scolaire" data-scroll>Mon Parcours Scolaire</a>
        <a class="link" href="#Mon Parcours Professionnel" data-scroll>Mon Parcours Professionnel</a>
        <a class="link" href="#Veille Technologique" data-scroll>Veille Technologique</a>
        <a class="link" href="#Qu'est ce que l'épreuve E4 ?" data-scroll>Qu'est ce que l'épreuve E4 ?</a>
        
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
