<div class="user-details" id="projects">
  <h1> Mes projets </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="StructurAll" src="{{ "/assets/img/StructurAll.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Projet StructurAll </h3>
    <ul>
      <li> (Partie entreprise) </li>
    </ul>
    <p> Structurall Machine® est une plateforme de conception de systèmes automates (applications, ...). /n/n

Structurall Machine® permet à chacun de concevoir de manière efficace un système automate par une démarche structurelle, de le simuler et dans un cadre plus global, de maîtriser les systèmes que l'on construit et que l'on fait évoluer.
Aucune connaissance technique particulière n'est nécessaire pour l'utiliser.</p>
    <a class="project-link" href="#"> En savoir plus </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="JumpX" src="{{ "/assets/img/JumpX.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>JumpX </h3>
    <ul>
      <li> (Partie cours) </li>
    </ul>
    <p>Description de JumpX</p>
    <a class="project-link" href="#">En savoir plus</a>
  </div>
</div>

<div class="pierre" id="education">
  <h1> Mon Parcours Scolaire </h1>
</div>
<div class="user-education">
  <h3>Formation</h3>
  <p> Description de votre parcours scolaire, les établissements fréquentés, les diplômes obtenus, etc.</p>
</div>

<div class="user-details" id="career">
  <h1> Mon Parcours Professionnel </h1>
</div>
<div class="user-career">
  <h3>Expérience Professionnelle</h3>
  <p> Description de votre parcours professionnel, les postes occupés, les entreprises, les responsabilités, etc.</p>
</div>

<div class="user-details" id="tech-watch">
  <h1> Veille Technologique </h1>
</div>
<div class="user-tech-watch">
  <h3>Technologies et Tendances</h3>
  <p> Description de votre approche de la veille technologique, les outils utilisés, les sujets d'intérêt, etc.</p>
</div>

<div class="user-details" id="e4">
  <h1> Qu'est ce que l'épreuve E4 ? </h1>
</div>
<div class="user-e4">
  <h3>Épreuve E4</h3>
  <p> Description de l'épreuve E4, son importance, sa structure, les compétences évaluées, etc.</p>
</div>
