<div class="user-details">
  <h1> Mes projets </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Projet StructurAll </h3>
    <ul>
      <li> (Partie entreprise) </li>
    </ul>
    <p> Description de StructurAll</p>
    <a class="project-link" href="#"> En savoir plus </a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>JumpX </h3>
    <ul>
      <li> (Partie cours) </li>
    </ul>
    <p>Description de JumpX</p>
    <a class="project-link" href="#">En savoir plus</a>
  </div>
</div>
